<tr class="hover:bg-black transition hover:underline">
  <td><%= link_to query.domain, query, class: "px-3 py-2 block" %></td>
  <td><%= link_to query.type, query, class: "px-3 py-2 block" %></td>
  <td><%= link_to query.server, query, class: "px-3 py-2 block" %></td>
  <td><%= link_to query.duration_ms, query, class: "px-3 py-2 block" %></td>
</tr>
