<%= render 'form' %>

<% if @queries.present? %>
  <div class="space-y-4 mt-10">
    <h2 class="text-3xl text-neutral-200 font-semibold">Recent</h2>
    <div class="overflow-x-auto sm:text-lg">
      <table class="table-auto min-w-full">
        <thead class="border-b border-neutral-300">
          <tr>
            <th class="text-lime-500 font-semibold text-left px-3 py-2">Domain</th>
            <th class="text-lime-500 font-semibold text-left px-3 py-2">Type</th>
            <th class="text-lime-500 font-semibold text-left px-3 py-2">Server</th>
            <th class="text-lime-500 font-semibold text-left px-3 py-2">Duration</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-neutral-800">
          <%= render @queries.limit(@limit) %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
